body{
    background: linear-gradient(205deg,pink,purple);
    text-align: center;
    min-height: 100vh;
    max-height: 100vh;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

#si{
    background-color: #28a81b;
}

#no{
    background-color: #f00;
    height: 20px;

}

button{
    border: none;
    border-radius: 25px;

}